<div class="py-3">
    <h1>Registrati</h1>
    <p class="lead">Compila i tuoi dati e attiva una prova guidata di QR Portal Web.</p>

    <form class="row g-3 col-lg-8">
        <div class="col-md-6">
            <label class="form-label">Nome azienda</label>
            <input class="form-control" placeholder="La tua azienda" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Referente</label>
            <input class="form-control" placeholder="Nome e cognome" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" placeholder="nome@azienda.it" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Telefono</label>
            <input class="form-control" placeholder="+39" />
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary">Invia richiesta</button>
            <a class="btn btn-link" asp-controller="Home" asp-action="Demo">Prima vuoi vedere la demo?</a>
        </div>
    </form>
</div>
